<!DOCTYPE html>

<html>
    
<head>
    <title>A Propos</title>
    <link rel="icon" href="/img/pic1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>Cette application a été proposée par Amédée DERA. Les donées sont récoltées depuis mapbox.com et darksky.net!</p>
    </div>

    {{>footer}}
</body>
</html>