<!DOCTYPE html>

<html>
<head>
    <title>Acceuil</title>
    <link rel="icon" href="/img/pic1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>La météo à portée de main!</p>

        <form>
            <input placeholder="Localité">
            <button>Rechercher</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    
    <script src="/js/app.js"></script>
</body>

</html>